@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set default fonts */
:root {
  --font-sans: var(--font-roboto-sans);
  --font-mono: var(--font-jetbrains-mono);
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y proximity; /* optional: lets it feel less strict */
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Remove the media queries and variable-based colors since we're now using 
   Tailwind classes directly in the layout.js file */
